.App{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.TimersDashboard{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.EditableTimerList{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}